@import './base.css';
@import './styleButton.css';

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    color: black;
    transition: all 0.35s ease-in-out;
}

.kotak-icon-title {
    width: 20px;
    height: 65px;
    border-radius: 13px;
    background-image: linear-gradient(to bottom, #2ccf7e 0%, #067c7e 100%);
}

label.title {
    font-size: 15pt;
    font-family: 'Calibre-semiBold';
    font-weight: bold;
}

label.title-description {
    font-size: 12pt;
    font-weight: bold;
}

p.title-description {
    font-size: 12pt;
    margin-top: -5px;
}

label,
p {
    font-size: 13pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibre-semiBold';
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0px 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 13pt;
    background: #eeeeee;
    border-bottom: 2px solid black;
    outline: none;
}

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0px 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 13pt;
    background: #eeeeee;
    border-bottom: 2px solid black;
    outline: none;
}

.icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 104, 104);
    border-radius: 10px
}

input.search {
    width: 350px;
    margin-bottom: 10px;
    padding: 10px 0px 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 13pt;
    background: #eeeeee;
    border-bottom: 2px solid black;
    outline: none;
}

.table {
    width: 100%;
    overflow: auto;
}

table thead tr th {
    font-size: 13pt;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #eeeeee !important;
    color: black;
}

table tbody tr td {
    font-size: 13pt;
    padding: 12px;
    text-align: center;
    border: none;
    border-bottom: 0.5px solid #000000;
    color: black;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 15px;
}

.pagination button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: grey;
    font-size: 11pt;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    border: none;
}

.pagination span {
    height: 40px;
    margin-top: 8px;
}


@media screen and (min-width: 0) and (max-width:359px) {

    label,
    p {
        font-size: 11pt;
    }
}

@media screen and (min-width: 360px) and (max-width: 527px) {

    label,
    p {
        font-size: 11pt;
    }

    input,
    textarea,
    select {
        font-size: 11pt;
    }

    table thead tr th {
        font-size: 11pt;
    }

    table tbody tr td {
        font-size: 11pt;
    }
}