@import './base.css';
@import './styleButton.css';

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    width: 100%;
    color: black;
    transition: all 0.35s ease-in-out;
}

p.title-description {
    font-size: 12pt;
    margin-top: -5px;
}

label,
p {
    font-size: 12.5pt;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibre-semiBold';
    /* margin-bottom: 0px; */
}

input,
textarea {
    width: 100%;
    padding: 8px 0px 2px 5px;
    border-radius: 5px;
    border: none;
    font-size: 12.5pt;
    background: #eeeeee;
    border-bottom: 2px solid black;
    outline: none;
}

input.search {
    width: 300px;
    margin-bottom: 10px;
    padding: 8px 0px 2px 15px;
    border-radius: 0px;
    border: none;
    font-size: 12.5pt;
    background: white;
    border-bottom: 2px solid black;
    outline: none;
}

.card {
    border-radius: 15px;
}

select {
    width: 100%;
    padding: 10px 0px 8px 5px;
    border-radius: 5px;
    border: none;
    font-size: 12.5pt;
    background: #eeeeee;
    border-bottom: 2px solid black;
    outline: none;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: orange;
    padding: 1px 10px 0px 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #067c7e;
    color: white;
    transition: background .2s ease-in-out;
}

.icon-filter {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #3C3C43 0%, #1E1E1F 100%);
    border-radius: 8px;
    margin-top:27px;
}

.icon {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #3C3C43 0%, #1E1E1F 100%);
    border-radius: 8px
}

.icon-tambah {
    width: 39px;
    height: 39px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #489DEC 0%, #00387F 100%);
    border-radius: 8px;
    cursor: pointer;
}

.icon-excel {
    width: 39px;
    height: 39px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #2ccf7e 0%, #067c7e 100%);
    border-radius: 8px;
    cursor: pointer;
}

.icon-pdf {
    width: 39px;
    height: 39px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #EE427D 0%, #A8144A 100%);
    border-radius: 8px;
    cursor: pointer;
}

.padding-content {
    padding: 0px 20px 0px 20px;
}

.filtering {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.filtering .form-filtering {
    width: 24%;
}

.filtering .form-filtering label {
    font-weight: bold;
}

@media screen and (min-width: 0) and (max-width:359px) {

    label,
    p {
        font-size: 11pt;
    }

    .padding-content {
        padding: 0px 0px 0px 0px;
    }
}

@media screen and (min-width: 360px) and (max-width: 527px) {

    label,
    p {
        font-size: 10pt;
    }

    input,
    textarea,
    select {
        font-size: 10pt;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }

    .icon-tambah {
        width: 39px;
        height: 39px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #489DEC 0%, #00387F 100%);
        border-radius: 8px;
        cursor: pointer;
    }
    
    .icon-excel {
        width: 39px;
        height: 39px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #2ccf7e 0%, #067c7e 100%);
        border-radius: 8px;
        cursor: pointer;
    }
    
    .icon-pdf {
        width: 39px;
        height: 39px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #EE427D 0%, #A8144A 100%);
        border-radius: 5px;
    }

    .padding-content {
        padding: 0px 0px 0px 0px;
    }
}